*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: blueviolet;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: sans-serif;
}

.wrapper{
  width: 450px;
  padding: 30px;
  background-color: rgb(0, 0, 0, 0.75);
  border-radius: 5px;
  margin-top: 20px;
  text-align: center;

}

.create-form{
  height: 40px;
  width: 100%;
  margin: 25px 0;
  border: 1px solid #3b36cc;
  display: flex;
}

.create-form > input{
outline: none;
border: none;
background: none;
color: aliceblue;
width: 100%;
height: 100%;
padding-left: 10px;
}

.create-form > button{
  background-color: #3b36cc;
  border: none;
  height: 100%;
  width: 50px;
  color: aliceblue;
  cursor: pointer;
}

.todo{
background-color: #3b36cc;
height: 40px;
padding: 0 10px;
margin-top: 10px;
border-radius: 5px;
display: flex;
justify-content: space-between;
align-items: center;

}

.completed{
  text-decoration: line-through 3px;
  opacity: 0.7;
}
